name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  ubuntu-test:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Image push test
        shell: bash
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euxo pipefail

          podman pull ghcr.io/blue-build/rpm-ostree-container:latest
          # storage_dir=$(podman info --format='{{.Store.GraphRoot}}')
          # runtime_dir=$(podman info --format='{{.Store.RunRoot}}')
          container=$(podman run --detach --rm --privileged rpm-ostree-container:latest sleep 3600)
            # -v "${storage_dir}:${storage_dir}" \
            # -v "${runtime_dir}:/run/containers" \
            # rpm-ostree-container:latest --storage="${storage_dir}" sleep 3600)

          echo "$GHCR_TOKEN" | podman exec -i "${container}" podman login ghcr.io -u hastd --password-stdin
          podman exec "${container}" podman pull quay.io/fedora/fedora-iot:43
          podman exec "${container}" rpm-ostree compose build-chunked-oci --bootc --format-version=2 --max-layers=128 --from=quay.io/fedora/fedora-iot:43 --output=containers-storage:ghcr.io/hastd/iot-rechunk-test:ubuntu
          podman exec "${container}" skopeo inspect containers-storage:ghcr.io/hastd/iot-rechunk-test:ubuntu
          podman exec "${container}" podman push ghcr.io/hastd/iot-rechunk-test:ubuntu
          podman exec "${container}" skopeo inspect docker://ghcr.io/hastd/iot-rechunk-test:ubuntu

  fedora-test:
    runs-on: ubuntu-24.04
    container:
      image: fedora:43
    permissions:
      packages: write
    steps:
      - name: Image push test
        shell: bash
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euxo pipefail

          sudo dnf install -y podman rpm-ostree skopeo

          echo "$GHCR_TOKEN" | podman login ghcr.io -u hastd --password-stdin
          podman pull quay.io/fedora/fedora-iot:43
          rpm-ostree compose build-chunked-oci --bootc --format-version=2 --max-layers=128 --from=quay.io/fedora/fedora-iot:43 --output=containers-storage:ghcr.io/hastd/iot-rechunk-test:fedora
          skopeo inspect containers-storage:ghcr.io/hastd/iot-rechunk-test:fedora
          podman push ghcr.io/hastd/iot-rechunk-test:fedora
          skopeo inspect docker://ghcr.io/hastd/iot-rechunk-test:fedora
