name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: Test initramfs
    runs-on: ubuntu-latest
    steps:
      - name: test
        shell: bash
        run: |
          for i in {0..59}; do
            tag=$(date -d "$i days ago" -u '+%Y%m%d')
            printf '%s' "$tag: "
            podman run --rm "docker://ghcr.io/secureblue/silverblue-main-hardened:$tag" \
              bash -c 'sha256sum /usr/lib/modules/*/initramfs.img'
            podman system prune --all --force
          done
