name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: Test ubuntu-slim
    runs-on: ubuntu-slim
    steps:
      - shell: bash
        run: |
          sudo apt-get install pipx
