name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: build-chunked-oci
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - uses: hastd/free-disk-space@main

      - shell: bash
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euxo pipefail
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          sudo apt install podman skopeo
          podman pull quay.io/fedora/fedora-iot:43
          podman pull ghcr.io/blue-build/rpm-ostree-container:latest

          storage_dir="$HOME/.local/share/containers/storage"
          podman run --privileged --rm -v "${storage_dir}:${storage_dir}" \
            rpm-ostree-container:latest --storage="${storage_dir}" \
            rpm-ostree compose build-chunked-oci --bootc --format-version=2 --max-layers=128 \
              --from=quay.io/fedora/fedora-iot:43 \
              --output=containers-storage:ghcr.io/hastd/iot-rechunk-test:latest
          skopeo inspect -n containers-storage:ghcr.io/hastd/iot-rechunk-test:latest
          echo "$GHCR_TOKEN" | skopeo login ghcr.io -u hastd --password-stdin
          skopeo copy containers-storage:ghcr.io/hastd/iot-rechunk-test:latest docker://ghcr.io/hastd/iot-rechunk-test:latest
          skopeo inspect -n docker://ghcr.io/hastd/iot-rechunk-test:latest
