name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  ubuntu-test:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Image push test
        shell: bash
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euxo pipefail

          podman pull ghcr.io/blue-build/rpm-ostree-container:latest
          container=$(podman run --detach --rm --privileged rpm-ostree-container:latest sleep 3600)

          echo "$GHCR_TOKEN" | podman exec -i "${container}" podman login ghcr.io -u hastd --password-stdin
          podman exec "${container}" podman pull quay.io/fedora/fedora-iot:43
          podman exec "${container}" rpm-ostree compose build-chunked-oci --bootc --format-version=2 --max-layers=128 \
            --from=quay.io/fedora/fedora-iot:43 --output=containers-storage:ghcr.io/hastd/iot-rechunk-test:latest
          podman exec "${container}" skopeo inspect containers-storage:ghcr.io/hastd/iot-rechunk-test:latest
          podman exec "${container}" podman push ghcr.io/hastd/iot-rechunk-test:latest
          podman exec "${container}" skopeo inspect docker://ghcr.io/hastd/iot-rechunk-test:latest
