name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    strategy:
      matrix:
        nproc: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    name: "Test (${{ matrix.nproc }} processes)"
    uses: ./.github/workflows/free-disk-space.yml
    with:
      nproc: ${{ matrix.nproc }}
