name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: podman-test
    runs-on: ubuntu-24.04
    steps:
      - shell: bash
        run: |
          set -euxo pipefail
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          podman version
          podman pull docker://quay.io/skopeo/stable:latest
          podman run docker://quay.io/skopeo/stable:latest --version
          podman pull docker://quay.io/fedora/fedora-iot:43
          podman run docker://quay.io/skopeo/stable:latest inspect containers-storage:quay.io/fedora/fedora-iot:43
          podman run docker://quay.io/skopeo/stable:latest copy containers-storage:quay.io/fedora/fedora-iot:43 containers-storage:localhost/fedora-iot-test:latest
          podman run docker://quay.io/skopeo/stable:latest inspect containers-storage:localhost/fedora-iot-test:latest
