name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: build-chunked-oci
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      # - uses: hastd/free-disk-space@main

      - shell: bash
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euxo pipefail
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          sudo apt install podman skopeo
          podman pull quay.io/fedora/fedora-iot:43
          skopeo inspect -n containers-storage:quay.io/fedora/fedora-iot:43
          echo "$GHCR_TOKEN" | skopeo login ghcr.io -u hastd --password-stdin
          skopeo copy containers-storage:quay.io/fedora/fedora-iot:43 docker://ghcr.io/hastd/fedora-iot-test:latest
          skopeo inspect -n docker://ghcr.io/hastd/fedora-iot-test:latest
