name: test
on:
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - name: write
        id: write
        run: |
          seq 10 > asdf.txt
          {
            echo 'foo<<EOF'
            cat asdf.txt
            echo 'EOF'
          } >> "${GITHUB_OUTPUT}"
      - name: read
        env:
          FOO: ${{ steps.write.outputs.foo }}
        run: |
          echo "$FOO"
