name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: podman-test
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@11e37b59b0ec97a638b659c23418c47a7219304e
  
      - name: Install newer podman and skopeo
        shell: bash
        run: |
          sudo apt remove podman skopeo
          brew analytics off
          brew install podman skopeo
          sudo ln -s "${HOMEBREW_PREFIX}/bin/podman" /usr/bin/podman
          sudo ln -s "${HOMEBREW_PREFIX}/bin/skopeo" /usr/bin/skopeo
        
      - name: Image push test
        shell: bash
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euxo pipefail
          ls -lh /usr/local /usr/local/bin
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          podman version
          podman pull quay.io/fedora/fedora-iot:43
          echo "$GHCR_TOKEN" | podman login ghcr.io -u hastd --password-stdin
          podman push quay.io/fedora/fedora-iot:43 docker://ghcr.io/hastd/fedora-iot-test:latest
          skopeo inspect docker://ghcr.io/hastd/fedora-iot-test:latest
