name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    strategy:
      matrix:
        nproc: [2, 4, 6, 8]
    name: "Test (${{ matrix.nproc }} processes)"
    uses: ./.github/workflows/free-disk-space.yml
    with:
      nproc: ${{ matrix.nproc }}
