name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: Test dates
    runs-on: ubuntu-24.04
    steps:
      - name: Test date
        shell: bash
        env:
          timestamp: ${{ github.env.created_at }}
        run: |
          echo "$timestamp"
