name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: podman-test
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main
      - shell: bash
        run: |
          set -euxo pipefail
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          brew install skopeo
          podman version
          skopeo --version
          podman pull docker://quay.io/fedora/fedora-iot:43
          skopeo inspect containers-storage:quay.io/fedora/fedora-iot:43
          skopeo copy containers-storage:quay.io/fedora/fedora-iot:43 containers-storage:localhost/fedora-iot-test:latest
          skopeo inspect containers-storage:localhost/fedora-iot-test:latest
