name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: podman-test
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Image push test
        shell: bash
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euxo pipefail
          echo "$GHCR_TOKEN" | podman login ghcr.io -u hastd --password-stdin

          podman pull ghcr.io/blue-build/rpm-ostree-container:latest
          storage_dir=$(podman info --format='{{.Store.GraphRoot}}')
          runtime_dir=$(podman info --format='{{.Store.RunRoot}}')
          container=$(podman run --detach --rm --privileged \
            -v "${storage_dir}:${storage_dir}" \
            -v "${runtime_dir}:/run/containers" \
            rpm-ostree-container:latest --storage="${storage_dir}" sleep 3600)

          podman pull quay.io/fedora/fedora-iot:43
          podman exec "${container}" rpm-ostree compose build-chunked-oci --bootc --format-version=2 --max-layers=128 --from=quay.io/fedora/fedora-iot:43 --output=containers-storage:localhost/iot-rechunk-test:latest
          podman exec "${container}" skopeo inspect containers-storage:localhost/iot-rechunk-test:latest
          podman exec "${container}" podman manifest create iot-manifest-test:latest containers-storage:localhost/iot-rechunk-test:latest
          podman exec "${container}" podman manifest push --authfile=/run/containers/auth.json iot-manifest-test:latest docker://ghcr.io/hastd/iot-manifest-test:latest
          podman exec "${container}" skopeo inspect docker://ghcr.io/hastd/iot-manifest-test:latest
