name: test
on:
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  disk-space:
    name: Disk usage
    runs-on: ubuntu-24.04
    steps:
      - name: Summary
        run: |
          df -h
      - name: Analyze disk space
        run: |
          shopt -s dotglob
          sudo du -hs /usr/local/{lib,share}/* | grep -E '[0-9]+(\.[0-9]+)?[MG]'
      - name: Remove big things
        run: |
          set +e
          sudo swapoff -a
          sudo rm -f /mnt/swapfile
          echo /etc/skel /home/packer /opt/az /opt/google /opt/hostedtoolcache /opt/microsoft \
            /usr/lib/{firefox,google-cloud-sdk,jvm,llvm-16,llvm-17} \
            /usr/local/{.ghcup,aws-cli,aws-sam-cli,julia1.12.1} \
            /usr/share/{az_12.5.0,miniconda,swift} \
            | sudo xargs -n1 -P4 rm -rf
      - name: Check freed space
        run: |
          df -h
