name: test
on:
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: podman-test
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main
        
      - name: Install newer podman
        shell: bash
        run: |
          brew install podman skopeo
        
      - name: Image push test
        shell: bash
        env:
          GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -euxo pipefail
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          podman version
          podman pull quay.io/fedora/fedora-iot:43
          echo "$GHCR_TOKEN" | podman login ghcr.io -u hastd --password-stdin
          podman push quay.io/fedora/fedora-iot:43 docker://ghcr.io/hastd/fedora-iot-test:latest
          skopeo inspect docker://ghcr.io/hastd/fedora-iot-test:latest
