name: test
on:
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  disk-space:
    name: Analyze disk usage
    runs-on: ubuntu-24.04
    steps:
      - name: Summary
        run: |
          df -h
      - name: Analyze disk space
        run: |
          shopt -s dotglob
          sudo du -hs /home/runner/* /opt/az/* /opt/hostedtoolcache/* /opt/pipx/* /usr/bin/* /usr/lib/* /usr/libexec/* /usr/local/* /usr/share/* /var/lib/* \
            | grep -E '[0-9]+(\.[0-9]+)?[MG]'
      - name: Remove big things
        run: |
          set +e
          sudo swapoff -a
          sudo rm -f /mnt/swapfile
          echo /etc/skel /home/packer /opt/google /opt/microsoft | sudo xargs -n1 -P4 rm -rf
      - name: Check freed space
        run: |
          df -h
